:root {
  background-color: #ffffff;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}